.card{
    border: 20px;
    border-radius: 2rem; 
    background-color: #ECF4FF;}
.box{
    border: 60px;
    background-color:rgb(19, 80, 80);}
body{
    margin-top: 3rem;
    background-color: #1C887B;
}
.bi{
    margin-right: 1rem;
    size: 20px;
}
.connect-text{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 48px;
text-align: center;}
.name{
    
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 77px;
text-align: center;
color:white ;
}
.connect-text2{
    font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 20px;
text-align: center;
}