body{
    background-color: #ECF4FF;
    margin: 0px;
}
.container{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card{
    border: none;
    width: 1000px;
    background-color: #ECF4FF;

}

.location{
    padding-top: 100px;
    padding-bottom: 70px;
    height: 61px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
    text-align: center;

    color: #000000;
}


.baan{
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #1C887B;
    border-radius: 20px !important;
}

.moo{
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #1C887B;
    border-radius: 20px !important;
    
}



.build{
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #1C887B;
    border-radius: 20px !important;
}

.soi{
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #1C887B;
    border-radius: 20px !important;
}

.rd{
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #1C887B;
    border-radius: 20px !important;
}

.o{
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #1C887B;
    border-radius: 20px !important;
}

.next{
    padding-top: 70px;
    background-color: #ECF4FF;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;

    text-align: center;
    align-items: center;
    color: #1C887B;
}

.help2{
    padding-top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #3D6A8C;
}