.navbar {
    background-color: #ECF4FF !important;
    
}
.navbar-nav {
    align-items: start;
}

.menu-navbar {
    display: block !important;
}

.nav-link {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

ul{
    list-style-type:none;
}

.card-body {
    border-radius: 20px;
    border: 2px solid #1C887B !important;
    background: #FFF;
}



.nav-item {
    display: flex;
    align-items: center;
}

.nav-item .Nav-img {
    margin-right: 10px !important;
}

.amount {
    color: #000;
    text-align: center;
    font-family: Alata;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
    align-items: center;
}

.unit{
    color: #000;
    text-align: center;
    font-family: Inder;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Profile_img {
    padding-left: 10px;
}

/* .navbar-nav {
    display: none;
} */

.navbar-nav-function{
    display: none;
}

hr{
    height: 2px !important;
    border-width: 0;
    color: #1C887B !important;
    background-color: #1C887B !important;
    width: 100% !important;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

@media (max-width: 1400px) {
    .menu-navbar {
        display: none !important;
    }

    .navbar-nav-function{
        display: block !important;
        align-items: center;
        
    }
}

