.container{
    height: 100vh;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    background-color: #87B3DA !important;
 }
body{
    background-color: #87B3DA !important;
}
.div{
    display: flex;
}
.circle{

    align-items: center !important;
    width: 82px;
    height: 82px;
    left: 715px;
    top: 158px;
    border-radius: 90px;
    background: #ECF4FF;

}
.card{
    
    background: #ECF4FF !important;
    border-radius: 50px;

}

.amount-lg{
    height: 50px;
    width: 350px;
    background: #FFFFFF;
    border: 2px solid #1C887B;
    border-radius: 20px;
}

.img{
    align-items: center;
}
.connect-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 20px;
    text-align: left;
}

.cost{
    height: 50px;
    width: 350px;
    background: #FFFFFF;
    border: 2px solid #1C887B;
    border-radius: 20px;
}

.box{
    border: 60px;
    background-color:rgb(19, 80, 80);}


.btn{
    background: #1C887B;
    border-radius: 15px;
}

.img-circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  