.card{
    border: 20px !important ;
    border-radius: 2rem !important; 
    background-color: #ECF4FF !important;}
.box{
    border: 60px !important;
    background-color:rgb(19, 80, 80) !important;}
body{
    background-color: #87B3DA !important;
}
.bi{
    margin-right: 1rem !important;
    size: 20px !important;
}
.connect-text{
    font-family: 'Inter' !important;
font-style: normal !important;
font-weight: 600 !important;
font-size: 25px!important;
line-height: 48px !important;
text-align: center!important; }
.name{
    
font-family: 'Inter' !important;
font-style: normal !important;
font-weight: 500 !important;
font-size: 40px !important;
line-height: 77px !important;
text-align: center !important;
color:white !important;
}
.connect-text2{
    font-family: 'Inter' !important;
font-style: normal !important;
font-weight: 200 !important;
font-size: 15px !important;
line-height: 20px !important;
text-align: center !important;
}
