
.box{
    border: 60px !important;
    background-color:rgb(19, 80, 80) !important;
}
body{
    background-color: #87B3DA !important;
}
.bi{
    margin-right: 1rem !important;
    size: 20px !important;
}
.connect-text{
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 25px !important;
    line-height: 48px !important;
    text-align: center  !important;
}
.name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 77px;
    text-align: center;
    color:white ;
    margin-top: 1rem !important;
}
.connect-text2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}
.tell{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    color: #000000;
}
.card{
    background: #FFFFFF !important;
    border: none !important;
    border-radius: 20px !important;
}
.card1{
    background: #ECF4FF !important;
    border-radius: 50px !important;
}