@media only screen and (max-width: 630px) {
    .welcome{
        font-size: 50px !important;
    }
}

@media only screen and (max-width: 480px) {
    .img{
        width: 100%;
    } 
    .whitebox{
        align-items: center;
        height: 750px;
        left: 0px;
        top: 800px;
        background: #ECF4FF;
        border-radius: 50px 50px 0px 0px;
    }
    .welcome{
        font-size: 50px !important;
        text-align: center;
    }
   .login{
        padding: 12px 28px !important;
   }
   .create{
    padding: 12px 28px !important;
   }
}

body{
    background-color: #1C887B !important;
    margin: 0px;
}

.img {
    width: 100%;
}

.container-fluid{
    padding: 0px;
    margin: 0px;
    height: auto;
}

.container-fluid1{
    background-color: #78C2A4 !important;
}


.whitebox{
    align-items: center;
    height: 750px;
    left: 0px;
    top: 300px;
    background: #ECF4FF;
    border-radius: 50px 50px 0px 0px;
}

.welcome{
    position: relative;
    text-align: start;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 54px;
    padding: 50px;
    color: #000000;
}

.login{
    background: #1C887B;
    border: 2px solid #1C887B;
    border-radius: 20px;
    width: 283px;
    height: 68px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;

}

.create{
    align-items: center;
      width: 283px;
      height: 68px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
      text-align: center;
      color: #1C887B;
      align-items: center;
      border-radius: 20px;
}

.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    gap: 31px;
    width: 283px;
    height: 167px;
    margin: auto;
    margin-top: 50px;
}

.btn btn-info{
    text-align: center;

    width: 191px;
    height: 24px;
    left: 120px;
    top: 763px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.next{
    background-color: #ECF4FF;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    width: 200px;
    text-align: center;
    align-items: center;
    color: #1C887B;
    margin: 0 auto;
    display: block;
}