.login{
    width: 480px;
    height: min-content;
    background-color: #ECF4FF;
}
body{
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #ECF4FF;
}
.form-control{
    border-radius: 20px;
    border: 2px solid #1C887B;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 10px;
   
}
.btn{
    border-radius: 10px;
    background-color: #1C887B;
    color: #ECF4FF;
}
.confirm{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
   
/* identical to box height */

}
