.col1{
    border-left: none !important;
    
    border-top: none !important;
    border-bottom: none !important;
    border-color: aqua !important;
}
.customer-personal{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;
text-align: left;

color: #1C887B !important;
}
.name,.phone,.email{
    font-family: 'Inter' ;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #1C887B;
}
.name-input,.phone-input,.email-input{
    background: #FFFFFF;
border: 2px solid #1C887B;
border-radius: 10px;
}
body{
    background:  #E08C79 !important;
}
.order{
    color: white
}
.carbon{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
text-align: left;
color: #1C887B;
}
.card-body{
    border: none !important;
    align-items: center !important;

}
.col{
    border: none !important;
}
.card{
    background: #ECF4FF !important;
    border: none !important;
   
    
}
.owner{
    text-align: left;
    border: #1C887B;
    border-color: #1C887B;
}

.quantity{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: right;

color: #1C887B;
}
.price{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 36px;
color: #1C887B;
}
.howtopay{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 36px;


color: #1C887B;
}
.pricebaht{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #1C887B;
}
.create{
    align-items: center;
      width: 150px;
      height: 50px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 36px;
      text-align: center;
      color: #000000;
      border-radius: 30px;
      border-color: #1C887B;
      align-items: center;
}
.class1{
    justify-content: left !important;
    border-radius: 20px !important;
    border-color: #1C887B !important;
}
.container-fluid{
    background-color: #FFFFFF;
    

}
.class{
    align-items: right !important;
    align-content: right !important;
    border-radius: 20px !important;
}
.price1{
    justify-content: space-between;
}
hr{
    background-color: green;
            width: 20%;
            height: 5px;
            border-top: 5px ;
            line-height: 80%;
}
.howtopay{
    justify-content: space-between;
}