body{
    background-color: #ECF4FF;
    margin: 0px;

}
.container{
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.card{
    border: none;
    background-color: #ECF4FF;

}

.location{
    padding-top: 70px;
    padding-bottom: 27px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: xx-large;
    line-height: 61px;
    text-align: center;
    justify-content: center;
    align-items: center;

    color: #000000;
}


.baan{
    text-align: center;
    width: inherit;
    height: 100px;
    background: #FFFFFF;
    border: 2px solid #1C887B;
    border-radius: 20px !important;
}

.moo{
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #1C887B;
    border-radius: 20px !important;
    
}


.build{
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #1C887B;
    border-radius: 20px !important;
}

.soi{
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #1C887B;
    border-radius: 20px !important;
}

.rd{
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #1C887B;
    border-radius: 20px !important;
}

.o{
    height: fit-content;
    width: fit-content;
    background: #FFFFFF;
    border: 2px solid #1C887B;
    border-radius: 20px !important;
}

.next{
    padding-top: 70px;
    background-color: #ECF4FF;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    width: 200px;
    text-align: center;
    align-items: center;
    color: #1C887B;
    margin: 0 auto;
}

.help2{
    padding-top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #3D6A8C;
}

.btn{
    width: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
}